{% extends 'base.html' %}
{% load static %}
{% load subtotal_calc_tool %}

{% block page_header %}
    <div class="container page-header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="image-overlay"></div>
<div class="container mb-2 mt-2">
    <div class="row basket-header-text">
        <h2 class="mb-4 main-dark-color text-center fw-bold">Your Shopping Basket</h2>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
                {% for item in bag_items %}
                    <div class="d-block d-md-none">
                        <div class="row justify-content-center">
                            <div class="col-10 pt-1">
                                {% include "bag/product-image.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pt-3">
                                {% include "bag/product-name.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pt-1">
                                {% include "bag/product-price.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pt-1 mt-0">
                                {% include "bag/quantity-input.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pt-1">
                                {% include "bag/update-button.html" %}
                            </div>
                            <div class="col-6 pt-1">
                                {% include "bag/delete-button.html" %}
                            </div>
                        </div>
                        <hr class="mt-5">
                {% endfor %}
                        <div class="row">
                            <div class="col-12 mt-1 basket-totals">
                                {% include "bag/bag-totals.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2 basket-checkout-buttons">
                                {% include "bag/continue-button.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2 mb-3 basket-checkout-buttons">
                                {% include "bag/secure-checkout-button.html" %}
                            </div>
                        </div>
                    </div>
                

            <div class="table-responsive d-none d-md-block">
                <table class="table table-borderless table-sm">
                    <thead class="main-dark-color">
                        <tr class="main-dark-color text-decoration-underline">
                            <th scope="col fs-4">Image</th>
                            <th scope="col fs-4">Details</th>
                            <th scope="col fs-4">Price</th>
                            <th scope="col fs-4">Quantity</th>
                            <th scope="col fs-4">Sub-Total</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td class="py-4">
                            {% include "bag/product-image.html" %}
                        </td>
                        <td class="text-left py-4">
                            {% include "bag/product-name.html" %}
                        </td>
                        <td class="text-left py-4">
                            {% include "bag/product-price.html" %}
                        </td>
                        <td>
                            <form class="form" method="POST" action="{% url 'update_bag_quantity' item.item_id %}">
                                {% csrf_token %}
                                <div class="col-11 mt-4">
                                    {% include "bag/quantity-input.html" %}
                                </div>
                                <div class="col-11">
                                    {% include "bag/update-button.html" %}
                                    {% include "bag/delete-button.html" %}
                                </div>
                            </form>
                        </td>
                        <td class="text-left py-4">
                            <h5 class="fs-5 fw-bold">€{{ item.product.price | subtotal_calc:item.quantity }}</h5>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="pt-3 basket-totals" colspan="5">
                            {% include "bag/bag-totals.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="basket-checkout-buttons">
                            {% include "bag/continue-button.html" %}
                            {% include "bag/secure-checkout-button.html" %}
                        </td>
                    </tr>
                </table>
            </div>
        {% else %}
            <p class="fw-bold mb-5 main-dark-color fs-4">There's nothing in your basket.</p>
            <a href="#" onClick="history.go(-1)" class="btn btn-lg button-style">
                <span class="icon">
                    <i class="fas fa-chevron-circle-left main-dark-color fs-5"></i>
                </span>
                <span class="text-uppercase main-dark-color fs-6 fw-bold">Continue Shopping</span>
            </a>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}