{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container page-header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="image-overlay"></div>
<div class="container mb-2 mt-5">
    <div class="row">
        <h2 class="mb-4 main-dark-color text-center fw-bold">Your Shopping Bag</h2>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive d-none d-md-block">
                <table class="table table-borderless table-sm">
                    <thead class="main-dark-color">
                        <tr class="main-dark-color text-decoration-underline">
                            <th scope="col fs-4">Image</th>
                            <th scope="col fs-4">Details</th>
                            <th scope="col fs-4">Price</th>
                            <th scope="col fs-4">Quantity</th>
                            <th scope="col fs-4">Sub-Total</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td class="py-4">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid">
                        </td>
                        <td class="text-left py-4">
                            <h5 class="fw-bold fs-5 mb-0">{{ item.product.name }}</p>
                        </td>
                        <td class="text-left py-4">
                            <h5 class="fs-5 fw-bold">{{ item.product.price }}</p>
                        </td>
                        <td class="">

                        </td>
                        <td class="">

                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% else %}
            <p class="fw-bold mb-5 main-dark-color fs-4">There's nothing in your bag.</p>
        {% endif %}
    </div>
</div>
</div>
<!-- <a href="#" onClick="history.go(-1)" class="btn btn-lg button-style">
    <span class="icon">
        <i class="fas fa-chevron-circle-left main-dark-color fs-5"></i>
    </span>
    <span class="text-uppercase main-dark-color fs-6 fw-bold">Continue Shopping</span>
</a> -->

{% endblock %}