/* Styling for site overall ----------------------------------------------------------------*/

html {
    height: 100%;
}

body {
    background: url('/media/homepage-background2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 139px);
    color: #393D3F;
    font-family: 'Montserrat', sans-serif;
}

.main-dark-color {
    color: #393D3F !important;
}
 
.main-green-color {
    color: #18611E !important;
}

.main-white {
    color: #ffffff;
}

.yellow-background {
    background-color: #FFB81F !important;
}

/* Header/navbar styling ----------------------------------------------------------------*/
header {
    background-color: #18611E;
}

.header-text-colour {
    color: #ffffff !important;
}

.nav-item:hover,
.nav-item:active,
.nav-item:focus {
    text-decoration: underline;  
}

.navbar-brand-text {
    font-family: 'Are You Serious', sans-serif;
    margin-left: 20px;
}

nav .megamenu {
    background-color: #ffffff;
    border: #18611E 4px solid;
}

.megamenu .mega-menu-title-text {
    color: #393D3F;
    font-weight: bolder;
}

.megamenu li a {
    color: #393D3F;
    text-decoration: none;
}

.megamenu li a:hover,
.megamenu li a:active,
.megamenu li a:focus {
    background: #18611E;
    color: #ffffff !important;
}

.main-image-text {
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: rgba(24, 97, 30, .5);
}


/* Megamenu styling taken from www.bootstrap-menu.com*/
.navbar .megamenu{ padding: 1rem; }

/* Header/navbar media queries ----------------------------------------------------------------*/

@media all and (min-width: 992px) {

    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
  
  }	
  @media(max-width: 991px){
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
      overflow-y: auto;
        max-height: 90vh;
        margin-top:10px;
    }
  }

/* Products page styling --------------------------------------------------------------*/
.image-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #ffffff;
    z-index: -1;
}

.page-header-container {
    padding-top: 150px;
}

.card {
    border-radius: 10px;
    border: #18611E 1px solid;
    overflow: hidden;
}

.card-sub-text {
    font-size: .8rem;
    text-decoration: none;
}

.button-style {
    border: #393D3F 2px solid;
    background-color: #FFB81F;
    color: #ffffff;
    box-shadow: 5px 10px 8px #888888;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
    box-shadow: none;
    border: none;  
}

.icon {
    position: relative;
    top: 1.5px;
}

.add-to-bag-button {
    background-color: #18611E;
    color: #ffffff;
    border: #393D3F 2px solid;
    box-shadow: 5px 10px 8px #888888;
    height: 2.6rem;
}

.add-to-bag-button:hover,
.add-to-bag-button:active,
.add-to-bag-button:focus {
    box-shadow: none;
    border: none;
    color: #ffffff;
}

/* Products page media queries --------------------------------------------------------------*/

@media (max-width: 992px) {
    .product-header-text {
        padding-top: 50px;
    }
}

/* Bag.html page styling --------------------------------------------------------------*/
.basket-header-text {
    margin-top: 60px;
}

.info-button {
    font-size: .9rem;
}

#info-continue-button {
    height: 2.6rem;
}

.basket-totals {
    text-align: right;
    width: 100%;
}

.checkout-button {
    background-color: #18611E;
    color: #ffffff;
    border: #393D3F 2px solid;
}

.basket-checkout-buttons {
    text-align: right;
    width: 100%;
}

.quantity-input {
    border: #393D3F 1px solid;
}

.update-quantity-button {
    background-color: #ffffff;
    border: #393D3F 1px solid;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
    color: #18611E;
}

.delete-button {
    background-color: #ffffff;
    border: #393D3F 1px solid;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
    color: red;
}

.update-quantity-button:hover,
.update-quantity-button:active,
.update-quantity-button:focus {
    box-shadow: none;
    background-color: #393D3F;
    color: white;
}

.delete-button:hover,
.delete-button:active,
.delete-button:focus {
    box-shadow: none;
    background-color: #393D3F;
    color: white;
}

/* bag.html page media queries ----------------------------------------------*/

@media (max-width: 992px) {
    .basket-header-text {
        margin-top: 100px;
    }
}