html {
    height: 100%;
}

body {
    background: url('/media/homepage-background2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 139px);
    color: #393D3F;
    font-family: 'Montserrat', sans-serif;
}

.main-dark-color {
    color: #393D3F !important;
}
 
.main-green-color {
    color: #18611E !important;
}

/* Header/navbar styling */
header {
    background-color: #18611E;
    border-bottom: #ffffff 1px solid;
}

.header-text-colour {
    color: #ffffff !important;
}

.nav-item:hover,
.nav-item:active,
.nav-item:focus {
    background-color: #C9E3AC;
}

..navbar .megamenu {
    color: #18611E;
}

.navbar-brand-text {
    font-family: 'Are You Serious', sans-serif;
}

nav .megamenu {
    background-color: #C9E3AC;
    border: #18611E 4px solid;
}

.megamenu .mega-menu-title-text {
    color: #393D3F;
    font-weight: bolder;
}

.megamenu li a {
    color: #393D3F;
    text-decoration: none;
}

.megamenu li a:hover,
.megamenu li a:active,
.megamenu li a:focus {
    background: #18611E;
    color: #ffffff !important;
}

.main-image-text {
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: rgba(24, 97, 30, .5);
}


/* Megamenu styling taken from www.bootstrap-menu.com */
.navbar .megamenu{ padding: 1rem; }

@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}

/* Products page styling */
.image-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #ffffff;
    z-index: -1;
}

.page-header-container {
    padding-top: 150px;
}

.card {
    border-radius: 10px;
    border: #18611E 1px solid;
    overflow: hidden;
}

.card-sub-text {
    font-size: .8rem;
    text-decoration: none;
}