{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container page-header-container mt-5 mx-auto">
    <div class="image-overlay"></div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="allauth-form-content-inner main-dark-color">
                {% block content_inner %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}